.DS_Store
.BTK-container-lock
.env
.lock

node_modules/*
Electron-Cash-SLP
Electron-Cash-SLP/*
slpdb/*
bch-api/*
misc/*
cert/*
data/*
configs/cert
config.json
*.txt
*.swp

/configs/pass.conf
/configs/env.env
/configs/bitcoin-unlimited.conf

venv/
